@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Figtree', sans-serif;
    background-image: url('https://res.cloudinary.com/practicaldev/image/fetch/s--FNm6M500--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/80ywr4mbxogncowbkjxc.gif');
    color: white;
}
/*--------------title--------------*/
h1 {
    text-align: center;

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}
/*--------img of the characters-----------*/
.image-container {
    display: flex;
}
.image-container img {
    width: 100%;
}
/*-----------container of the img's---------------*/
article {
    padding: 10px;
}